@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+64px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');


@font-face {
    font-family: "notMyType";
    src: url("fonts/notMyType.otf");
}

ul {
	width:100%;
}

li {
	width:33%;
	float:left;
	border-right: 1px solid #eee;
}
li:last-child {
	border-right:none;
}

li a {
	display: block;
	width:80%;
	background:#ddd;
	padding:4% 10%;
	font-size:1.35em;
	text-decoration: none;
}

@media screen and (max-width: 768px) {
	#menu {
		width:1.4em;
		display: block;
		background:#ddd;
		font-size:1.35em;
		text-align: center;
	}
	#nav.js {
		display: none;
	}
	ul {
		width:100%;
		list-style:none;
	}
	li {
		width:100%;
		border-right:none;
	}
}

@media screen and (min-width: 411) {

}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-image: url('img/oldPaper1.jpg');
	color: #fff;
	/* Push to bottom */
	display: block;
	width: 100%;
	height: 60vh;
}


.cornerContainer {
	color: black;
	background-image: url('img/paper.png');
	display: block;
	max-width: 600px;
	height: 150px;
	padding: 5px;
	margin: 2px;
}

.header {
	display: block;
	text-align: left;
	margin: 10px auto;
}

.header2 {
	display: grid;
	color: black;
	height: 230px;
	width: 560px;
	margin: 200px auto;
	border: 2px solid orange;
	border-radius: 10px;
}

.header2 h1 {
	width: 100%;
	text-align: center;
	font-family: 'Viaoda Libre';
	font-size: 55px;
}

.header2 h3 {
	font-size: 23px;
	display: block;
	margin: 10px auto;
	text-align: center;
	font-family: 'Viaoda Libre';
}

.counter {
	font-size: 20px;
	font-family: 'notMyType';
	width: 100%;
	text-align: center;
	display: block;
	overflow: hidden;
	color: black;
}

.counters .container {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
}

.counters i {
	color: lightskyblue;
	margin-bottom: 5px;
}

.counters .counter {
	font-size: 10px;
	margin: 1px 0;
}

@media (max-width: 700px) {
	.counters .container {
		grid-template-rows: repeat(2, 1fr);
	}

	.counters .container > div:nth-of-type(1),
	.counters .container > div:nth-of-type(2) {
		padding-bottom: 0px;
	}
}



